
a {
    font-family: arial;
    text-decoration: none;
    color: black;
}



a:visited {
    color: rgb(36, 36, 36);
}

img {
    position: relative;
    display: block;
    margin: auto;
    padding-top: 185px;
}

.topnav-left {
    margin-left: -14px;
}

.topnav-left li{
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 15px;
    font-size: 13px;
    font-weight: 100;
    margin: -8px 7px 0 -20px;
    
}

.topnav-left li a{
color: rgb(65, 65, 65);
}

.topnav-left li:hover {
    text-decoration: underline;
}

.topnav-right li{
    list-style-type: none;
    float: right;
    text-align: center;
    padding: 15px;
    font-size: 13px;
    font-weight: 100;
    margin: -8px 7px 0 -20px;
}

.topnav-right li a {
    color: rgb(65, 65, 65);
}

.topnav-right li:hover {
    text-decoration: underline;
}
.grid {
    margin-left: 15px;
}

.gridbox:hover {
    background-color: black;
    
    }

.gridbox {

    background-color: #6b6b6b;
    width: 18px;
    height: 18px;

}


.grid2 {
    background-color: #ffffff;
    width: 3px;
    height: 20px;
    margin-top: -20px;
    margin-left: 4px;
}
.grid3 {
    background-color: #ffffff;
    width: 3px;
    height: 20px;
    margin-top: -20px;
    margin-left: 11px;
}

.grid4 {
    background-color: #ffffff;
    width: 20px;
    height: 3px;
    margin-top: -14px;
    margin-left: 0px;
}

.grid5 {
    background-color: #ffffff;
    width: 20px;
    height: 3px;
    margin-top: 4px;
    margin-left: 0px;
}

#button-login {
    float: right;
    background-color: #4386F9;
    color: white;
    border: none;
    display: block;
    padding: 8px 15px;
    margin: -6px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 13.5px;
    font-weight: 900;
    border-radius: 2px;
   
}

#button-login:hover {
    box-shadow: 0 1px rgb(209, 209, 209);
    cursor: context-menu;
}
#button-login:active {
    background-color: rgb(21, 98, 197);
}

.centerbar {
    text-align: center;
}



.centerimage {
text-align:center;
width:272px;
display:block;
margin:auto;
}


    
input {
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    color: black;
    background-color: white;
    padding-left: 30px;
    padding-top: 13px;
    padding-bottom: 14px;
    width: 490px;
    border-radius: 30px;
    margin-top: 30px;
    border-color: rgb(224, 224, 224);
    border-width: 1px;
    border-style: solid;
   
}

input:hover {

    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);

}

.button_searchbar {

background-color: #F5F5F5;
border: none;
color: rgb(51, 51, 51);
padding: 10px;
text-decoration: none;
display: inline-block;
font-size: 13px;
margin-top: 20px;
margin-left: 50%;
margin-right: 50%;
border-radius: 4px ;
padding: 8px 60px;

}


.container_button {
    
    margin: auto;
    width: 283px;
    height: 30px;
    margin-top: 10px;

}

.left {
    float: left;
    width: 140px;
    height: 22px;
}

.right {
    float: right;
    width: 140px;
    height: 22px;
}

#button_style1 {
    
    font-family: Arial;
    background-color: #F5F5F5;
    border: none;
    text-decoration: none;
    text-align: center;
    color: rgb(107, 107, 107);
    padding: 10px 17px;
    white-space: nowrap;
    display: block;
    border-radius: 4px;
    font-weight: 400;
    font-size: 15px;
    margin-right: -20px;


}

#button_style2 {

    font-family: Arial;
    background-color: #F5F5F5;
    border: none;
    text-decoration: none;
    text-align: center;
    color: rgb(107, 107, 107);
    padding: 10px 17px;
    white-space: nowrap;
    display: inline-block;
    border-radius: 4px;
    font-weight: 400;
    font-size: 15px;
    
}

#button_style1:hover {

    color: rgb(19, 19, 19);
    box-shadow: 0px 0px 2px #969595;
    cursor: pointer;
}

#button_style1:active {
    border: 1px solid #4386F9;
}

#button_style2:hover {

    color: rgb(19, 19, 19);
    box-shadow: 0px 0px 2px #969696;
    cursor: pointer;
}

#button_style2:active {
    border: 1px solid #4386F9;
}


.countrybar {
    position: fixed;
    left: 0;
    height: 41px;
    bottom: 40px;
    width: 100%;
    background-color:#F2F2F2;
    border-top: 1px solid rgb(230, 228, 228);
}

.country {
    color: rgb(113, 113, 113);
    padding-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}
    
.finalfooter {

        position: fixed;
        left: 0;
        bottom: 0;
        height: 39px;
        width: 100%;
        background-color:#F2F2F2;
        border-top: 1px solid rgb(230, 228, 228);
        border-width: 1px;
}


.footer-left li {

        display: inline-block;
        list-style-type: none;
        font-size: 12px;
        color: rgb(113, 113, 113);
        padding: 0px 30px 10px 0px;
        font-family: Arial, Helvetica, sans-serif;
}   
.footer-left li a {
    color: rgb(99, 99, 99);
}

.footer-left ul {
margin-left: -5px;
line-height: 4px;
}

.footer-left li:hover {
    text-decoration: underline;
}
        

.footer-right li {

    display: inline-block;
    list-style-type: none;
    font-size: 12px;
    color: rgb(113, 113, 113);
    padding: 0px 30px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}   
.footer-right li a {
color: rgb(99, 99, 99);
}

.footer-right ul {
    margin-left: 15px;
    margin-top: -40px;
    text-align: right;

}

.footer-right li:hover {
    text-decoration: underline;
        
       	
html, body, .grid {
    height: 100%;
    width: 100%;
    margin: 0;
}


